---
import Layout from '../components/Layout.astro';
export const prerender = true;
---
<Layout title="Contact Us">
  <div class="home-container">
    <section class="main-content">
      <h1>Contact Us</h1>
      <h2>Email</h2>
      <p>
        <a href="mailto:info@bsatroop86.org" class="modern-link">info@bsatroop86.org</a>
      </p>
      <h2>Scoutmaster</h2>
      <p>
        Michael De Carlo<br/>
        Phone: <a href="tel:7325910756" class="modern-link">(732)-591-0756</a>
      </p>
      <h2>Assistant Scoutmaster</h2>
      <p>
        Karen Bentivenga<br/>
        Phone: <a href="tel:7325363941" class="modern-link">(732)-536-3941</a>
      </p>
    </section>
  </div>
</Layout>