---
import Layout from '../components/Layout.astro';
export const prerender = true;
---
<Layout title="Eagle Resources">
    <div class="home-container">
        <section class="main-content">
            <h1>Life to Eagle</h1>
            <ul class="modern-list">
                <li><a href="http://www.scouting.org/scoutsource/BoyScouts/AdvancementandAwards/EagleWorkbookProcedures.aspx" class="modern-link">Downloadable Electronic Eagle Service Project Workbook</a></li>
                <li><a href="https://www.scouting.org/wp-content/uploads/2025/01/512-72825-Eagle-Scout-Application.pdf" class="modern-link">Eagle Scout Application Form</a></li>
                <li><a href="/content/Eagle-Req7.docx" class="modern-link">Eagle Requirement 7</a></li>
                <li><a href="/content/Russ%20eagle%20scout%20work%20logs.pdf" class="modern-link">Sample time tracker</a></li>
                <li><a href="/content/Steps%20to%20Reaching%20the%20Eagle%20Scout%20Rank%202019.docx" class="modern-link">Steps to Reaching The Eagle Scout Rank</a></li>
                <li><a href="/content/Eagle%20Scout%20Service%20Projects.pdf" class="modern-link">Examples of Eagle Scouts Projects</a></li>
                <li>
                Eagle Recommendation Letters
                <ul class="modern-list">
                    <li><a href="https://www.monmouthbsa.org/files/12559/recommendationparents-pdf" class="modern-link">From Parent</a></li>
                    <li><a href="https://www.monmouthbsa.org/files/12558/recommendationneighbor-pdf" class="modern-link">From Neighbor</a></li>
                    <li><a href="https://www.monmouthbsa.org/files/12560/recommendationteacher-pdf" class="modern-link">From Teacher</a></li>
                    <li><a href="https://www.monmouthbsa.org/files/12561/recommendationreligious-pdf" class="modern-link">From Religious Leader</a></li>
                    <li><a href="https://www.monmouthbsa.org/files/12558/recommendationneighbor-pdf" class="modern-link">From another Reference</a></li>
                    <li><a href="https://www.monmouthbsa.org/files/12562/Letter-of-Recommendation-Employer-2011-pdf" class="modern-link">From Employer</a></li>
                </ul>
                </li>
            </ul>
            <h2><a href="https://nesa.org/for-eagle-scouts/scholarships/" class="modern-link">Scholarships</a></h2>
            <h2><a href="http://www.nesa.org/" class="modern-link">NESA</a></h2>
        </section>
    </div>
</Layout>