---
import Layout from '../components/Layout.astro';
export const prerender = true;
---
<Layout title="Summer Camp">
  <div class="home-container">
    <section class="main-content">
      <h1>Summer Camp</h1>
      <p>
        We can’t emphasize enough how important summer camp is for your son's scouting and life experience.
        He builds relationships, becomes part of a team, learns independence, is given and we hope learns responsibility,
        and last but not least has a great time. TMR is a great opportunity for the boys to earn merit badges,
        work on their rank advancement, but more importantly, have lots of fun. This is a very important week for the boys,
        and we encourage all scouts to attend.
      </p>
      <ul class="modern-list">
        <li><a href="http://www.tenmileriver.org/aq/" class="modern-link">TMR-Camp Aquehonga</a></li>
        <li><a href="https://filestore.scouting.org/filestore/HealthSafety/pdf/680-001_ABC.pdf" class="modern-link">Official BSA Medical</a></li>
        <li><a href="https://tenmileriver.org/wp-content/uploads/sites/4/2020/02/2020-aquehonga-merit-badge-schedule.pdf" class="modern-link">Merit Badge Schedule</a></li>
        <li><a href="/content/Scout Packing List.docx" class="modern-link">What to Pack</a></li>
        <li><a href="/content/landers_release.pdf" class="modern-link">Canoe Release</a></li>
      </ul>
    </section>
  </div>
</Layout>